name: Deploy Static Content to Apache2 Ubuntu Server

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: 'actions/checkout@v3'
      - name: Inject Version Details
        run: |
          sed -i "s|REPLACEAPPLICATIONENVIRONMENT|$GITHUB_ENV|g" myapp/version.html
          sed -i "s|REPLACEAPPBUILDNO|$GITHUB_BUILD_NO|g" myapp/version.html
      - name: Upload the artifact
        uses: actions/upload-artifact@v3
        with:
          name: myapp-package
          path: myapp

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Test Job
        run: echo Completed Test Job
      - name: Download the artifact
        uses: actions/download-artifact@v3
        with:
          name: myapp-package
          path: myapp
      - name: Verify the downloaded Packages
        run: |
          ls -la
          pwd
      - name: Cat the file and test for replacement.
        run: cat myapp/version.html
  deployment:
    runs-on: ubuntu-latest
    needs: test
    timeout-minutes: 20
    steps:
      - name: Checkout repo
        uses: 'actions/checkout@v3'
      - name: Download the artifact
        uses: actions/download-artifact@v3
        with:
          name: myapp-package
          path: myapp
      # - name: Verify the downloaded Packages
      #   run: |
      #     ls -la
      #     pwd
      # - name: Cat the file and test for replacement.
      #   run: cat myapp/version.html

      # - name: Copy code to the Server
      #   uses: easingthemes/ssh-deploy@main
      #   env:
      #     SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
      #     ARGS: "-rltgoDzvO"
      #     SOURCE: "myapp"
      #     REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
      #     REMOTE_USER: ${{ secrets.REMOTE_USER }}
      #     TARGET: ${{ secrets.REMOTE_TARGET }}

      # - name: Move file in Server
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ secrets.HOST }}
      #     username: ${{ secrets.USERNAME }}
      #     key: ${{ secrets.KEY }}
      #     script: sudo mv myapp/* /var/www/html
      - name: Copy & Deploy
        uses: mdallasanta/ssh-scp-deploy@v1.2.0
        with:
          local: 'myapp'                                                  # Local file path - REQUIRED false - DEFAULT ./
          remote: '/home/${{secrets.USER}}'                                                 # Remote file path - REQUIRED false - DEFAULT ~/
          host: ${{secrets.HOST}}                                      # Remote server address - REQUIRED true
          user: ${{secrets.USER}}                                      # Remote server user - REQUIRED true                          # User password - REQUIRED at least one of "password" or "key" 
          key: ${{secrets.KEY}}                                        # Remote server private key - REQUIRED at least one of "password" or "key" 
          pre_upload: echo "Removed Files"  # Command to run via ssh before scp upload - REQUIRED false
          post_upload: sudo mv myapp/* /var/www/html  # Command to run via ssh after scp upload - REQUIRED false
          ssh_options: -o StrictHostKeyChecking=no                     # A set of ssh_option separated by -o - REQUIRED false - DEFAULT -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
          scp_options: -v                                              # Flags to use during scp - REQUIRED false - DEFAULT ''
